.main-header {
  background-color: #ffde00;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 20px;

  img {
    align-self: center;
    height: 80px;
  }

  .main-search {
    align-self: center;
  }
}
