.pokemon-container {
  margin-left: 10px;
  width: 100%;

  .pokemon-header {
    img {
      object-fit: cover;
      height: 300px;
      //animation: Pokemon-image-spin infinite 2s linear;
    }
  }

  .pokemon-table-info {
    width: 100%;
  }

  .pokemon-stats {
    height: 300px;
  }
}

.pokemon-error {
  display: flex;
  height: 400px;
  margin: auto;
  align-items: center;
  justify-content: center;

  p {
    color: #cc0000;
    font-size: 20px;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 30px;
    }
  }
}

@keyframes Pokemon-image-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
