body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'Pokemon_Solid';
  src: local('Pokemon_Solid'), url('assets/fonts/Pokemon_Solid.ttf') format('truetype');
}

@font-face {
  font-family: 'Pokemon_Hollow';
  src: local('Pokemon_Hollow'), url('assets/fonts/Pokemon_Hollow.ttf') format('truetype');
}
